@model HomeDetailsViewModel
@{
    var photoPath = "~/images/" + (Model.Employee.PhotoPath ?? "bw.jpg");

}

@*<h3>@ViewData["title"]</h3>

@{
    var emp = ViewData["employees"] as EmployeeManagement.Models.Employee;
}*@


@*<h3>@ViewBag.title</h3>*@

@*<h3>@Model.PageTitle</h3>

<div>
    Name: @ViewBag.Employees.Name
    Name: @emp.Name
    Name: @Model.Name
    Name: @Model.Employee.Name
</div>
<div>
    Email: @Model.Employee.Email
</div>
<div>
    Department: @Model.Employee.Department
</div>*@

<div class="card-deck col-12">
    
        <div class="card col-6">
            <div class="card-header">
            <h3>@Model.Employee.Name</h3>
            </div>
            <img class="card-img-top" src="@photoPath" asp-append-version="true">
            <h2>@Model.Employee.Email</h2>
            <h2>@Model.Employee.Department</h2>
            <div class="card-footer text-center">
                <a asp-action="index" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    
</div>